.header__square-pic {
  /* синий квадрат верещинского */
  position: absolute;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  color: #2f80ed;
  top: 64px;
  right: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  }
