.page {
  min-width: 1100px;
  /* минимальная ширина страницы */
  max-width: 1600px;
  /* максимальная ширина */
  margin: 0 auto;
  /* оцентровка для экранов больше 1600 */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /* background-color: rgb(197, 226, 67); */
}
