.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  /* ограничения для шапки */
}

/*.header__link {
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
  padding: 0;
} */
