.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  }

.footer-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  }


/*

.footer__column_content_social {

}

 .footer__column_content_info {

}
