.page {
  min-width: 1100px;
  /* минимальная ширина страницы */
  max-width: 1600px;
  /* максимальная ширина */
  margin: 0 auto;
  /* оцентровка для экранов больше 1600 */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /*background-color: rgb(197, 226, 67); */
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  /* ограничения для шапки */
}

.header__title {
  margin: 0 0 0 64px;
  padding: 0;
  max-width: 730px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}

.header_link {
  text-decoration: none;
  color: #2f80ed;
}

.header_link:hover {
  text-decoration: underline;
}

/*.header__link {
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
  padding: 0;
} */

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
    bottom: 0;
  right: 0;
  z-index: 1;
}

/* синий квадрат верещинского */
.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  color: #2f80ed;
  top: 64px;
  right: 0;
  }

.logo {
  width: 228px;
  height: 32px;
}

.logo__place-header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
  }

/*секция description*/

.description {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.two-columns {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-between;
  width: 80%;
  }

.two-columns__brief {
  width: 175px;
  margin: 0;
  align-content: center;
  color: #2f80ed;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  }

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  }

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
}

/*секция digits*/

.digits {
  display: flex;
  position: relative;
  margin: 0px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  /*border: 1px solid red;*/
}

.section-title {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
   width: 60%;
}

.section-subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0 auto;
  width: 60%;
  /*border: 1px solid red;*/
}

.table {
  margin: 0 0 100px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  list-style-type: none;
}

.table__cell {
  margin: 0;
  margin-top: 60px;
  flex: 0 0 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.text {
  line-height: 1.2;
  font-size: 18px;
  margin-bottom: 0;
  font-weight: normal;
  margin-top: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin-top: 20px;
  font-weight: normal;
  margin-bottom: 0;
  /*border: 1px solid red;*/
}

/*секция feynman*/

.feynman {
  display: flex;
  min-height: 890px;
  margin: 0;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-color: #f2f2f2;
}

.feynman_title {
  margin: 0;
  margin-top: 100px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
}

.feynman_subtitle {
  margin: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.feynman_link {
  position: absolute;
  align-self: stretch;
  font-weight: normal;
  line-height: 51px;
  font-size: 36px;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
}

.feynman_link:hover {
  text-decoration: underline;
}

/*секция кауфман education principles*/

.kaufman {
  margin: 0;
  position: relative;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}

.kaufman_theme_white {
  color: white;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: 1;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.kaufman-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  max-width: 1100px;
  list-style-type: none;
  margin: 0 auto 0 auto;
}

.table__cell_theme_dark{
  flex: 0 0 200px;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.table__text_theme_dark {
  color: white;
  z-index: 2;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* подвал сайта refactored 13.09 */

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: auto;
  padding-right: auto;
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  }

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  left: 0;
  top: 0;
}

.footer__column_content_copyright {
  flex-shrink: 1;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  width: normal;
  margin-bottom: 18px;
  margin-top: 18px;
  bottom: 0;
  left: 0;
  position: absolute;
  }

.footer__social-icon {
  width: 16px;
  height: 16px;
  background-size: contain;
  position: relative;
  margin-right: 10px;
}

.footer__column_content-social {
  flex-shrink: 2;
  margin-left: auto;
  margin-right:auto;
}

.footer__column_content-info {
  flex-shrink: 1.5;
  margin-left: auto;
  margin-right: auto;
}

.footer__column-heading {
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;

}
.footer__column-link {
  text-decoration: none;
  color: white;
 }
